#!/usr/bin/env bash

source ~/.env

#dotfiles
alias bp='cp ~/.bash_profile "/Users/aritropaul/Documents/Codes/dotfiles"'
alias al='cp ~/.aliases "/Users/aritropaul/Documents/Codes/dotfiles"'
alias en='cp ~/.env "/Users/aritropaul/Documents/Codes/dotfiles"'
alias gco='cp ~/.gitconfig "/Users/aritropaul/Documents/Codes/dotfiles"'
alias dsync='bp;al;en;gcp'
alias aliases='vi ~/.aliases'
alias bashp='vi ~/.bash_profile'
alias env='vi ~/.env'
alias gconf='vi ~/.gitconfig'
alias dot='cd "/Users/aritropaul/Documents/Codes/dotfiles"'

#git
alias g='git'
	#everything else has been moved to gitconfig

#tap 
alias Tap='http --print=h --form POST http://phc.prontonetworks.com/cgi-bin/authlogin/ userId='$uname' password='$pass' serviceName='ProntoAuthentication' Submit22='Login''
alias Tout='http --print=h POST http://phc.prontonetworks.com/cgi-bin/authlogout'

#file shorts
alias ..='cd ..'
alias c='cd "/Users/aritropaul/Documents/Codes"'
alias d='cd "/Users/aritropaul/Documents"'
alias ip='cd "/Users/aritropaul/Documents/Fall Sem 2018-19/Image/DA 1"'
alias wm='cd "/Users/aritropaul/Documents/Fall Sem 2018-19/Web Mining/Lab/Codes"'
alias p='cd "/Users/aritropaul/Documents/Fall Sem 2018-19/Personal"'
alias vd='open "/Users/aritropaul/Downloads/VIT Downloads"'


#apps
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'

#system
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
alias src="source ~/.bash_profile;source ~/.aliases"

dsync

