[alias]
	i = init
	s = status
	p = push
	a = add
	c = commit -m
	b = branch

	ra = remote add
	rao = remote add origin
	po = push origin
	co = checkout
	ba = checkout -b aritro
	pom = push origin master
	poa = push origin aritro 
	puom = pull origin master	

[user]
	email = saranshmanu@yahoo.co.in
	name = notacoder69
[core]
	editor = Saransh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
